@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* variables */

:root {
  --nieve: #ebebeb;
  /*
    --secundario: rgb(105, 209, 128);
    */
  --secundario: rgb(105, 209, 128);
  --primario: #b05aca;
  --grisclaro: rgb(185, 185, 185);
  --grisoscuro: rgb(68, 69, 70);
  --negro: black;
}

/* todo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--nieve);
  overflow-y: scroll;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--nieve) inset !important;
}

/* topnav */

.topnav {
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1;
  list-style-type: none;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: var(--negro);
  outline: 2px solid grey;
}

.topnav--link {
  padding: 5px 15px;
  background-color: transparent;
  margin: 0 20px;
  text-align: center;
  color: var(--nieve);
  max-height: 100%;
  min-width: max-content;
  text-decoration: none;
  font-weight: 300;
}

.topnav--link:hover {
  border-top: 2px solid var(--primario);
  border-left: 2px solid var(--primario);
  box-shadow: 2px 2px var(--secundario);
  color: var(--nieve);
  transition-duration: 0.2s;
}

.topnav--link:active {
  border-top: 2px solid var(--primario);
  border-left: 2px solid var(--primario);
  box-shadow: -3px -2px var(--secundario);
  box-shadow: 3px 2px var(--secundario);
  transition-duration: 0.3s;
}

.home {
  height: 50px;
  outline: none;
  border: none;
}

.topnav--link[href="#home"]:hover {
  outline: none;
  border: none;
  box-shadow: none;
}

.topnav--input {
  border: none;
  padding: 5px;
  margin-left: -20px;
  margin-right: 5px;
  border-bottom: 2px solid var(--primario);
  background-color: var(--nieve);
}

.topnav--input:focus {
  transition-duration: 0.2s;
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 2px solid var(--secundario);
  background-color: var(--nieve);
}

#active {
  color: var(--primario);
}

/* main */
.maincontainer--title {
  margin: 5vh auto;
  grid-column: 1/3;
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--nieve);
  background: var(--negro);
  border-bottom: 6px solid var(--secundario);
  border-right: 6px solid var(--secundario);
  box-shadow: -6px -6px var(--primario);
  text-shadow: 3px 3px var(--grisoscuro);
}

.maincontainer {
  width: 100%;
  display: flex;
  justify-items: center;
  display: grid;
  min-height: 88vh;
  align-items: flex-start;
}

.sendEmail {
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: center;
  width: 80%;
}

.redes {
  grid-column: 1/2;
  grid-row: 3/4;
  display: block;
  width: 80%;
  margin: 8vh 0;
}

.sendEmail--form--container {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.sendEmail--form--textInput {
  border: none;
  padding: 7px;
  border-bottom: 2px solid var(--primario);
  background-color: var(--nieve);
}

.sendEmail--form--textInput:active {
  transition-duration: 0.2s;
  border: none;
  outline: none;
  padding: 7px;
  border-bottom: 2px solid var(--secundario);
  background-color: var(--nieve);
}

.sendEmail--form--textInput:hover {
  cursor: text;
}
.sendEmail--form--textInput:focus {
  transition-duration: 0.2s;
  border: none;
  outline: none;
  padding: 7px;
  border-bottom: 2px solid var(--secundario);
  background-color: var(--nieve);
}

.sendEmail--form--submit {
  background: var(--negro);
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  position: relative;
  color: var(--nieve);
  letter-spacing: 1px;
  padding: 0.5rem;
  border: none;
  bottom: 0;
  margin-top: 20px;
  border-bottom: 2px solid var(--negro);
  border-left: 1px solid var(--negro);
  border-top: 1px solid var(--negro);
  border-right: 3px solid var(--negro);
}

.sendEmail--form--submit:hover {
  transition-duration: 0.5s;
  background-color: var(--primario);
  color: var(--nieve);
  transition-duration: 0.3s;
  border: none;
  border-bottom: 2px solid var(--negro);
  border-right: 3px solid var(--negro);
}

.sendEmail--form--submit:active {
  transition-delay: 0s;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--negro);
  border-left: 1px solid var(--secundario);
  border-top: 1px solid var(--secundario);
  border-right: 3px solid var(--negro);
  background-color: var(--nieve);
}

@media screen and (min-width: 680px) {
  .maincontainer {
    column-gap: 10%;
    justify-content: left;
    grid-template-columns: 45%;
  }

  .maincontainer--menu {
    display: flex;
    height: 88vh;
  }

  .maincontainer--productscontainer {
    position: absolute;
    right: 0;
    left: 13em;
  }
  .redes {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
  }

  .maincontainer--title {
    grid-row: 1/2;
  }
}

/* footer */

.footer {
  position: relative;
  height: 5vh;
  font-size: 12px;
  width: 100%;
  color: var(--nieve);
  background-color: var(--negro);
  padding: 8px 5px;
}
