@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* variables */

:root{
    --nieve: #ffffff;
    --secundario: rgb(70, 183, 211);
    --primario: #6cc955;
    --grisclaro: ;
    --grisoscuro: rgb(89, 90, 97);
    --negro: black;
}


/* todo */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


body{
    background-color: var(--nieve);
    background-image: url(../assets/images/pata-perro.svg),url(../assets/images/pata-perro2.svg);
    background-repeat: repeat-y, repeat-y;
    background-position-y: 280px, 40px;
    background-position-x: left, right;
    background-size: 300px,300px;
    background-attachment: scroll;
    height: 3000px;
}

/* topnav */

.topnav{
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
    position: fixed;
    list-style-type: none;
    top:0;
    left:0;
    width:100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--negro);
    outline: 3px solid var(--primario);
}

.topnav--link{
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    background-color: transparent;
    margin: 0 20px;
    text-align: center;
	color: var(--nieve);
    max-height: 100%;
    text-decoration:none;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.topnav--link:hover{
    border-top: 1px solid var(--grisclaro);
    border-left: 1px solid var(--grisclaro);
    border-bottom: 1px solid  var(--nieve);
    border-right: 1px solid  var(--nieve);
    box-shadow: 5px 4px var(--primario);
    transition-duration: 0.3s;
    margin-bottom: 4px;
    margin-left: 5px;
}

.topnav--link:active{
    border-top: 1px solid var(--grisclaro);
    border-left: 1px solid var(--grisclaro);
    border-bottom: 1px solid  var(--nieve);
    border-right: 1px solid  var(--nieve);
    box-shadow: 2px 1px var(--primario);
    transition-duration: 0.3s;
    margin:0;
}


.home{
    height: 60px;
    outline: none;
    border:none;
}

.topnav--link[href="#home"]:hover{
    height: 60px;
    outline: none;
    border:none;
    box-shadow: none;
    margin-bottom: 0px;
    margin-left: 0px;
}

.topnav--input{
    border:none;
    padding: 5px;
    margin-left: -20px;
    margin-right: 5px;
    border-bottom: 2px solid var(--primario);
    background-color: var(--nieve);
}

.topnav--input:focus{
    transition-duration: 0.2s;
    border:none;
    outline: none;
    padding: 5px;
    border-bottom: 2px solid var(--secundario);
    background-color: var(--nieve);
}

#active{
    color: var(--primario);
}

/* main */


.mainform,.mainformfooter{
    margin: auto;
}

.mainform{
    position: relative;
    background-color: transparent;
    width: 450px;
    height:320px;
    margin-top: 8rem;
    padding-top: 0px;
}

.mainform > h1{
    font-size: 30px;
    margin-top: 0;
    padding: 15px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    color:  var(--nieve);
    background: var(--primario);
    box-shadow: 6px 5px var(--negro);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.425);
}


.mainform--usuario,.mainform--contraseña{
    position: relative;
    right: 0;
    left: 0;
    margin: 25px auto;
    max-width: 80%;
}
.mainform--recordar{
    width: 50%;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.651);
    border-bottom: 2px solid var(--negro);
}

.mainform--input{
    border-bottom: 2px solid var(--negro);
    width:100%;
    height: 30px;
    background-color: var(--nieve);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 1px solid black outset;
}

.mainform--input:focus{
    border: none;
    border-bottom: 2px solid var(--secundario);
    outline: none;
    transition-duration: 0.2s;
}

.mainform--label{
    padding-bottom:10px;
    font-size: 20px;
}

.mainform--enviar{
    background:var(--negro);
    cursor: pointer;
    font-size:20px;
    text-align: center;
    width:100%;
    position: relative;
    color: var(--nieve);
    letter-spacing: 1px;
    padding: 6px;
    border: none;
    height:40px;
    bottom:0;
    margin-top: 20px;
    border-bottom: 2px solid var(--grisoscuro);
    border-left: 1px solid var(--grisclaro);
    border-top: 1px solid var(--grisclaro);
    border-right: 3px solid  var(--grisoscuro);
}

.mainform--enviar:hover {
    transition-duration: 0.5s;
    background-color: var(--primario);
    color: var(--negro);
    transition-duration: 0.3s;
    border-bottom: 3px solid var(--grisoscuro);
    border-left: 1px solid var(--grisclaro);
    border-top: 1px solid var(--grisclaro);
    border-right: 4px solid  var(--grisoscuro);

}

.mainform--enviar:active{
    transition-delay: 0s;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--grisoscuro);
    border-left: 1px solid var(--secundario);
    border-top: 1px solid var(--secundario);
    border-right: 3px solid  var(--grisoscuro);
    background-color: var(--nieve);
}

.recordar--label{
    color: var(--negro);
}

.recordar--checkbox{
    border: none;
}

.recordar--checkbox:checked{
    color: var(--negro);
    border: 1px solid var(--negro);
    background-color: var(--negro);
}

.mainformfooter{
    display: block;
    padding: 4px 0px;
    margin: 20px auto 60px;
    text-align: center;
    width: 400px;
    background-color: var(--secundario);
    border-bottom: 2px solid var(--negro);
    border-right: 3px solid var(--negro);
}

.mainformfooter--link{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: var(--negro);
}

.mainformfooter:hover {
    color: var(--negro);
    transition-duration: 0.5s;
    background-color: var(--nieve);
    border-bottom: 3px solid var(--grisoscuro);
    border-left: 2px solid var(--secundario);
    border-top: 2px solid var(--secundario);
    border-right: 3px solid  var(--grisoscuro);
}

/* footer */

.footer{
    position: fixed;
    outline: 2px solid var(--primario);
    font-size: 12px;
    padding: 8px 50px;
    height: 30px;
    width: 100%;
    bottom: 0;
    color: var(--nieve);
    align-self: flex-end;
    background-color: var(--negro);
}
