@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* variables */

:root{
    --nieve: #ebebeb;
    --secundario: rgb(105, 209, 128);
    --primario: #b05aca;
    --grisclaro: rgb(185, 185, 185);
    --grisoscuro: rgb(68, 69, 70);
    --negro: black;
}


/* todo */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


body{
    background-color: var(--nieve);
    background-image: url(../assets/images/pata-perro.svg),url(../assets/images/pata-perro2.svg);
    background-repeat: repeat-y, repeat-y;
    background-position-y: 280px, 40px;
    background-position-x: left, right;
    background-size: 300px,300px;
    background-attachment: scroll;
    height: 3000px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--nieve) inset !important;
}

/* topnav */

.topnav{
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
    position: fixed;
    list-style-type: none;
    top:0;
    left:0;
    width:100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--negro);
    outline: 2px solid var(--nieve);
}

.topnav--link{
    display: inline-block;
    position: relative;
    padding: 5px 15px;
    background-color: transparent;
    margin: 0 20px;
    text-align: center;
	color: var(--nieve);
    max-height: 100%;
    text-decoration:none;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.topnav--link:hover{
    border-top: 3px solid var(--primario);
    border-left: 3px solid var(--primario);
    box-shadow: 3px 2px var(--secundario);
    color: var(--nieve);
    transition-duration: 0.2s;
}

.topnav--link:active{
    border-top: 2px solid var(--primario);
    border-left: 2px solid var(--primario);
    box-shadow: -3px -2px var(--secundario);
    box-shadow: 3px 2px var(--secundario);
    transition-duration: 0.3s;
}


.home{
    height: 60px;
    outline: none;
    border:none;
}

.topnav--link[href="#home"]:hover{
    outline: none;
    border:none;
    box-shadow: none;
}

.topnav--input{
    border:none;
    padding: 5px;
    margin-left: -20px;
    margin-right: 5px;
    border-bottom: 2px solid var(--primario);
    background-color: var(--nieve);
}

.topnav--input:focus{
    transition-duration: 0.2s;
    border:none;
    outline: none;
    padding: 5px;
    border-bottom: 2px solid var(--secundario);
    background-color: var(--nieve);
}

#active{
    color: var(--primario);
}

/* main */


.mainform,.mainformfooter{
    margin: auto;
}

.maincontainer{
    display: flex;
}

.maincontainer--productslist{
    margin-top: 60px;
    position: absolute;
    right: 0;
    left: 13em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.maincontainer--productslist--product{
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 15px;
    border-bottom: 3px solid var(--primario);
    color: var(--negro);
}

.maincontainer--productslist--product:hover{
    background-color:rgba(0, 0, 0, 0.185);
    border: 5px solid rgba(192, 59, 181, 0.425);
    transition-duration: .3s;
}

.maincontainer--productslist--product > img{
    width: 100%;
    object-fit: contain;
}

.maincontainer--productslist--product > span{
    margin: 4px;
}


.maincontainer--productslist--product--title{
}

.maincontainer--menu{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    height:100%;
    width: 13em;
    background-color: var(--primario);
    color:var(--nieve);
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding:30px;
}

.maincontainer--menu--title{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 13px;
    justify-content:center;
}

.maincontainer--menu--filter{
    border-bottom: 2px solid var(--negro);
    text-align: start;
    padding: 10px;
}

.maincontainer--menu--filter > a{
    line-height: 30px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--nieve)
}


/* footer */

.footer{
    position: fixed;
    font-size: 12px;
    padding: 8px 50px;
    height: 30px;
    width: 100%;
    bottom: 0;
    color: var(--nieve);
    align-self: flex-end;
    background-color: var(--negro);
}
