
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Indumentaria urbana hecha a mano de 'Sin TAGG'">
    <meta name="keywords" content="ropa, remeras, indumentaria, indumentaria urbana, tie-dye, batik, sin tagg, sintagg">
    <meta name="author" content="Teo Alejandro Costa Pires">

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/contactus.css">

    <title>Sin T.A.G.G.</title>
</head>

<body>
    <header>
        <ul class="topnav" id = "topnav--container">
        </ul>
    </header>
    <main>
        <div class="maincontainer">
            <h1 class="maincontainer--title">CONTACTANOS</h1>
            <div class="sendEmail">
                <h2>Mandanos un mensaje:</h2>
                <form class="sendEmail--form" action="">
                    <div class="sendEmail--form--container">
                        <label for="name">Ingresá tu nombre</label>
                        <input type="text" id="name" class="sendEmail--form--textInput">
                    </div>
                    <div class="sendEmail--form--container">
                        <label for="email">Ingresa tu e-mail</label>
                        <input type="email" id="email" class="sendEmail--form--textInput">
                    </div>
                    <div class="sendEmail--form--container">
                        <label for="number">Ingresa tu numero de telefono (opcional)</label>
                        <input type="text" id="number" class="sendEmail--form--textInput">
                    </div>
                    <div class="sendEmail--form--container">
                        <label for="msj">Ingresa tu mensaje (opcional)</label>
                        <input type="text" id="msg" class="sendEmail--form--textInput">
                    </div>
                    <div>
                        <input type="submit" value="Enviar" class="sendEmail--form--submit">
                    </div>
                </form>
            </div>
            
            <div class="redes">
                <h2>Podes encontrarnos en nuestras redes sociales:</h2>
                <p>Instagram:</p>
                <p>Twitter:</p>
                <p>E-mail:</p>
                <p>Youtube:</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            Teo Alejandro Costa Pires ~ SIN TAGG
        </div>
    </footer>
    <script src="../js/ContactUs.js" type="module"></script>
    <script src="../js/PageModel.js" type="module"></script>
</body>

</html>